bcrypt==3.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.7.4
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Deprecated==1.2.14
Flask==3.0.3
Flask-Limiter==3.8.0
idna==3.7
importlib_metadata==8.2.0
importlib_resources==6.4.5
itsdangerous==2.2.0
Jinja2==3.1.4
limits==3.13.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
netifaces==0.11.0
ordered-set==4.1.0
packaging==24.1
pycparser==2.22
pycryptodome==3.20.0
Pygments==2.18.0
pynput==1.7.7
pyodb==0.1.0
pyotp==2.9.0
pypng==0.20220715.0
python-nmap==0.7.1
qrcode==7.4.2
requests==2.32.3
rich==13.8.1
scapy==2.5.0
schedule==1.2.2
six==1.16.0
soupsieve==2.5
sqlmap==1.8.9
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.4
wrapt==1.16.0
zipp==3.19.2
